[2016-01-22 16:59] ianmilligan1 opened #1 "Contacting Archive-It Partners"
This issue relates to our conversations around approaching Canadian-based Archive-It partners to garner interests, select collections, and begin the MOU process.

[2016-01-22 17:00] ianmilligan1 opened #2 "Setting up the Compute Canada Cloud"
This issue is relating to setting up the Cloud, creating user accounts, installing warcbase and Shine, and getting things started here.

[2016-01-22 17:00] ianmilligan1 opened #3 "Ingesting Data into the Cloud"
We need to ingest data from the Internet Archive into the Compute Canada instance - exploring the IA's Python client library for large-scale data transfer, as well as Globus.

[2016-01-22 17:01] ianmilligan1 opened #4 "Memorandum of Understanding/Research Agreements"
We need template MOUs to adapt for each partner institution, as well as templated research agreements for individual partners once we get the platform up and running.

[2016-01-22 19:32] ianmilligan1 commented on #2
Have reached out to the ever-amazing @symulation to get access off the ground - it's appearing in my CCDB acc't but am not crystal clear on how to access our allocation.

[2016-01-22 21:59] ianmilligan1 opened #5 "Tools to Install?"
This is a catch-all issue for tools people would like to be installed on the CC Cloud. We'll start with:
- [Warcbase](https://github.com/lintool/warcbase)
- [Internet Archive ARS-Workshop](https://github.com/vinaygoel/ars-workshop)
- [UKWA Shine](https://github.com/ukwa/shine)

If there is something else you'd like me to get installed, please let me know here.

[2016-01-25 16:27] pbinkley commented on #5
How about [tensorflow](https://www.tensorflow.org/)? I haven't tried it myself, but John Fink's reports on Twitter last week made it look interesting.

[2016-01-25 18:39] ianmilligan1 commented on #5
Looks and sounds great, thanks @pbinkley!

[2016-01-26 19:59] ianmilligan1 commented on #1
Received a ping from Corey Davis, head of a COPPUL Web Archiving committee - msg forwarded to @tsuomela and I'll see if I can wrangle my schedule to join their next scheduled call.

[2016-01-27 04:33] gsharder commented on #1
Great! Todd had mentioned that he was intending on updating the committee
at the upcoming meeting. I have the feeling that most if not all of the
COPPUL members will be keen to get on board.

On Tue, Jan 26, 2016 at 12:59 PM, Ian Milligan notifications@github.com
wrote:

##

Geoff Harder
Associate University Librarian
Information Resources and Digital Initiatives

University of Alberta Libraries
2

[2016-01-29 23:51] tsuomela commented on #1
I spoke to the COPPUL web archive group on Wednesday, January 27. I introduced the project and shared a copy of the project proposal with the group. I told them about our near term plans of setting up the infrastructure and identifying collections for initial prototyping. I also told them we were working on developing a researcher agreement and MOU for working with other institutions.

There were

[2016-01-30 14:21] ianmilligan1 commented on #1
Great, thanks for the update @tsuomela!

[2016-03-10 01:06] ianmilligan1 commented on #2
Updated: @ruebot and I are just getting access now from Compute Canada. :+1:

[2016-03-28 19:52] ianmilligan1 commented on #2
Updated: @ruebot and I have a call with Compute Canada to get our particular needs addressed.. will keep people addressed. We've had access to limited machines but not the powerful ones we'll need to make derivative datasets..

[2016-03-29 15:57] ianmilligan1 opened #6 "Collections & Solr Index"
@ruebot and I had a conversation a few months ago on one of our other repos, and I think it fits well here.

Right now, we've been working with the 'Canadian Political Parties' collection for [WebArchives.ca](http://webarchives.ca/). If we want to ingest other collections, we could use the 'collections' field a la the UK Web Archive's [collections view](https://github.com/ukwa/shine/wiki/Specifica

[2016-04-05 19:06] tsuomela commented on #3
Great news. I have account credentials for the UAL collections and am still working on other partners. What details do we need to grab the data via CC? I assume a username, password, and collection IDs will be needed. Is there anything else?

[2016-04-05 19:57] ianmilligan1 commented on #3
If we just want to use Archive-It, just your username, password, collection ID and we can wget the data down!

[2016-04-05 20:22] tsuomela commented on #3
Great. I will put together a prioritized list of collection IDs and send the credential information to you and Nick directly.

[2016-04-05 21:36] tsuomela commented on #3
Collection information is on its way to @ruebot and @ianmilligan1

[2016-04-05 21:42] ianmilligan1 commented on #3
Awesome, thanks @tsuomela. I'll confer with @ruebot about where this stuff should go, and can run the wget tomorrow!

[2016-04-05 22:03] jeffersonbailey commented on #3
For larger collections, there's a method that is better than wget via the
AIT portal. I wouldn't recommend the alt method for all collections (small
ones will be fine with wget), but if you wanted to try it for one, we could
help:

https://blog.archive.org/2016/02/26/distributed-preservation-made-simple/
https://github.com/helgeho/internetarchive-transfer-scripts

On Tue, Apr 5, 2016 at 4:44 PM, I

[2016-04-08 16:36] ianmilligan1 commented on #2
👍

[2016-04-08 16:36] #2 closed, assigned to ianmilligan1

[2016-04-08 20:01] tsuomela opened #7 "An Access Request for the HCF collection"
@ianmilligan1 @ruebot

UAL was recently contacted by the Edmonton Oilers to recover some images from the Heritage Community Foundation collection.

The seed is http:/www.oilersheritage.com/

Would warcbase be able to extract the images from the seed after the collection is added to the cloud?

[2016-04-08 20:27] gsharder commented on #4
No, you're fine to proceed with ingesting the UAL collection. That's no
problem at all. However, for other partners we will definitely need an MOU
so do we have a template yet to work from?

Geoffrey Harder
Associate University Librarian
University of Alberta

Sent from mobile device

On Apr 8, 2016, at 1:58 PM, Nick Ruest notifications@github.com wrote:

@gsharder https://github.com/gsharder @tsu

[2016-04-08 20:38] tsuomela commented on #4
I would suggest we go ahead and use the sample MOU Ian attached up thread. I have not received any additional examples from Archive-IT and I don't think we need to wait.

However, I'm still working on getting institutions to agree or consider the possibility. I plan to reach out directly to the members of the COPPUL web archive working group next week and will ask them individually for help gettin

[2016-04-08 20:48] gsharder commented on #4
Excellent. Let me know if you need any help getting others on board. I
would be glad to talk up the project with some of my colleagues.

Geoffrey Harder
Associate University Librarian
University of Alberta

Sent from mobile device

On Apr 8, 2016, at 2:38 PM, Todd Suomela notifications@github.com wrote:

I would suggest we go ahead and use the sample MOU Ian attached up thread.
I have not received

[2016-04-08 21:21] jeffersonbailey commented on #4
I can send something this weekend maybe. Swamped with other stuff atm. I
need to edit it before sending. And I'm not sure how useful it will be for
your project anyway. But I can send... Or feel free to proceed w/o it.

On Fri, Apr 8, 2016 at 3:38 PM, Todd Suomela notifications@github.com
wrote:

[2016-04-08 21:48] tsuomela commented on #7
At this point it would probably be enough to just extract everything from the single seed and then share that with the Oilers.

Being able to identify the image using a checksum is probably overkill for this initial request but certainly has utility for analysis and comparison of images.

[2016-04-08 21:53] ianmilligan1 commented on #7
Right now, we could definitely grab all the URLs but then I think we'd have to `wget` them from the Internet Archive which doesn't strike me as an ideal solution... (unless there aren't that many images)

[2016-04-09 01:33] ruebot opened #8 "#elxn42 crawl"
@ianmilligan1 should I bring the #elxn42 crawl over?

[2016-04-09 06:24] ianmilligan1 commented on #8
Great idea!

[2016-04-09 06:25] ianmilligan1 commented on #7
Great! Sure, or I am happy to set it up.

[2016-04-09 13:01] #8 closed, assigned to nobody

[2016-04-09 19:42] jeffersonbailey commented on #4
Emailed template to Todd.

[2016-04-10 14:50] ianmilligan1 commented on #4
Awesome, thanks @jeffersonbailey!

[2016-04-10 17:56] jeffersonbailey commented on #3
Not sure. Have Todd or whoever administer the account submit a support
ticket with as much detail as possible and someone can investigate.

On Sun, Apr 10, 2016 at 10:37 AM, Nick Ruest notifications@github.com
wrote:

[2016-04-10 21:05] ianmilligan1 commented on #6
In the absence of discussion - once we start ingesting, let's do the latter. Assign collections which can be faceted on.

[2016-04-11 15:23] tsuomela commented on #7
Wonderful. Thanks guys for tackling this. I know the issue may be a bit tangential but I thought it may be of interest to some in the library community because accessing WARC files and collections is one of the questions I hear from librarians. I'm curious to see what we can do through warcbase.

[2016-04-11 15:29] tsuomela commented on #3
I submitted a ticket. Was this using wget or the python script?

[2016-04-11 15:34] ianmilligan1 commented on #3
Thanks both!

[2016-04-11 21:24] gsharder commented on #3
+1

On Apr 11, 2016, at 11:14 PM, Nick Ruest notifications@github.com wrote:

@tsuomela https://github.com/tsuomela i'm back in business on my end.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly or view it on GitHub
https://github.com/web-archive-group/WALK/issues/3#issuecomment-208564409

[2016-04-12 16:26] tsuomela commented on #3
The reply from Archive-IT was "Our engineers are looking into this authentication issue and while it seems to be resolved at the moment they are still investigating a more permanent fix."

I guess it works for now so we will see how long that lasts.

[2016-04-19 20:16] ianmilligan1 opened #9 "Generate Top-Level Domain Visualizations for Each Crawl"
I think this should be one of the first warcbase jobs we run on the stuff we're ingesting, so we can generate [these interactive visualizations for each collections](http://lintool.github.io/warcbase/vis/crawl-sites/).

I've found it really useful to help interpret subsequent analysis, as we can see where crawler traps, crawl emphases, etc. have changed over time. It'll also help us get a sense on

[2016-04-19 20:17] ianmilligan1 commented on #9
Script will be something like this:

[code]

I think we should run once per collection in `/data`. Not sure the best way to script this effectively – whether we want to make a bunch of bash calls or just paste a big list of commands in spark-shell.

[2016-04-19 20:18] ianmilligan1 commented on #7
Need to liase with Jimmy at some point and see what the best way to do this is.. we can run an image extract job and see how big the numbers are, but if it's a ton of images we'll want to extract them from the WARCs themselves rather than make a bunch of slow calls to the Internet Archive..

[2016-04-19 20:27] ianmilligan1 commented on #4
Just following up – if the MOU looks good, do you want to put a copy in the repo @tsuomela?

My own rough timeline in my head is that we'll kick the can around on the Alberta stuff, and once Compute Canada doubles our storage allocation as agreed we can begin sipping in some more collections.

[2016-04-19 20:39] tsuomela commented on #4
Sounds like a plan. I will add those to the repo as suggested.

[2016-04-19 20:53] gsharder commented on #4
Agreed, sounds like a good plan.

On Tue, Apr 19, 2016 at 2:39 PM, Todd Suomela notifications@github.com
wrote:

##

Geoff Harder
Associate University Librarian
Information Resources and Digital Initiatives

University of Alberta Libraries
2-10H Cameron Library, University of Alberta
Edmonton, AB, Canada T6G 2J8
780.492.7914

_geoffrey.harder@ualberta.ca geoffrey.harder@ualberta.ca
library.ualbert

[2016-04-20 03:08] ianmilligan1 commented on #9
Sounds good! I can cook up the script.

[2016-04-20 13:08] ianmilligan1 commented on #9
Basic script cooked up – just need to troubleshoot something and I'll ping when ready.

[2016-04-20 13:51] ianmilligan1 commented on #9
OK. If run on the warcbase **year-month branch**, this script should work. I'd recommend testing it on just one collection first, of course, i.e.:

[code]

[2016-04-22 13:42] #3 closed, assigned to ruebot

[2016-04-22 14:20] ianmilligan1 commented on #9
Running script in commit 0d3f4b5 with `/home/ubuntu/git/spark-1.5.1-bin-hadoop2.6/bin/spark-shell --driver-memory 50G --jars /home/ubuntu/git/warcbase/target/warcbase-0.1.0-SNAPSHOT-fatjar.jar`. Let's see what happens.

[2016-04-22 15:31] ianmilligan1 commented on #9
Results populating in `/data/derivatives/urls`.

[2016-04-25 14:41] ruebot opened #10 "m5sum each collection"
- [x] 2402
- [x] 2901
- [x] 3747
- [x] 3490
- [x] 3346
- [x] 2217
- [x] 1730
- [x] 2475
- [x] 3835
- [x] 3345
- [x] 3940
- [x] 2014
- [x] 3344
- [x] 3365
- [x] 4957
- [x] 1830
- [x] 3196

[2016-04-26 00:37] jeffersonbailey commented on #10
We're doing maintenance to VMs that host the WARC downloads
portal/processes. Bug potentially identified. Might want to pause the DLs
for a few days.

On Mon, Apr 25, 2016 at 10:46 PM, Nick Ruest notifications@github.com
wrote:

[2016-04-27 10:45] #10 closed, assigned to ruebot

[2016-04-28 14:07] ruebot opened #11 "Setup accounts on WALK vm for Youngbin and Ryan Deschamps"

[2016-04-28 14:32] ianmilligan1 commented on #11
👍 Ryan is @greebie.

[2016-04-28 15:58] greebie commented on #11
I think I'd just like to go with ryandeschamps.  Thanks!

Ryan. .

On Thu, Apr 28, 2016 at 11:50 AM, Nick Ruest notifications@github.com
wrote:

##

Ryan Deschamps
PhD Candidate Johnson-Shoyama School of Public Policy
ryan.deschamps@gmail.com
Facebook: www.facebook.com/greebie  Twitter: www.twitter.com/ryandeschamps

[2016-04-29 12:23] ianmilligan1 opened #12 "Failures in Various Derivative Generations"
I've gone through and extracted URLs and link networks for all the collections. However, we've had quite a few failures ([you can read about all the fun stuff over in this warcbase issue](https://github.com/lintool/warcbase/issues/222)).

The following collections **have both URLs and networks**:

[code]

The following collections **have only URLs, no networks** - IdleNoMore failed twice:

[code]

[2016-04-29 13:21] ianmilligan1 opened #13 "Generate Boilerpiped Text for Collections"
In advance of the VM maintenance window on 4 - 6 May, I've begun extracting boilerpiped text. @ruebot thought maybe we could do something cool like spin up a Voyant instance.

Anyways, am running https://github.com/web-archive-group/WALK/blob/master/Scripts/Boilerpiped-Text-Extractor-on-Alberta-Collections.scala on the 14 collections that successfully passed URL/Network extraction.

[2016-05-01 20:55] ianmilligan1 commented on #13
Generated for

[code]

Failed on `prarie_provinces/` which had worked on URLs and links. Will try running a simple (non boilerpipe extract job) text job on it, just out of curiosity..

[2016-05-01 20:57] ianmilligan1 opened #14 "VM Maintenance Window"
A note from Compute Canada:

We're planning to shut down the WALK machine on May 3rd, and will bring it back online on May 7th or when we hear that things have been migrated. Does that sound roughly in line with a good path, @ruebot?

[2016-05-05 17:20] ianmilligan1 opened #15 "Integrating Collections as a Network Graph"
One early task is to take our derivative network graphs (which are in `data/derivatives/links`) and see if there is any merit to visualizing them together in a program like Gephi.

I was thinking we might get @greebie to take the output files, see if maybe we can ingest each collection as a set of nodes, and look for overlaps? As a networks export, it might be a good opening project with some auto

[2016-05-05 18:50] ianmilligan1 commented on #15
Cool, @greebie checked in [a script here](https://github.com/web-archive-group/WALK/blob/master/Scripts/pseudo_code.txt), in pseudo code.

[code]

I think this looks really interesting! Once the cloud maintenance window passes, why don't you pick two collections that looks to be an appropriate size, @greebie, and we can try this out! First with two, then with three?

[2016-05-10 18:45] #14 closed, assigned to nobody

[2016-05-10 19:00] ianmilligan1 commented on #14
(for those following along, our VM instance didn't make it out of the maintenance window alive.. we're rebuilding it)

[2016-05-10 20:10] ianmilligan1 commented on #4
Just following up – can you add the MOU @tsuomela? I had some of my RAs generate a list of all Archive-It partners and their collections in Canada, will share that as well shortly.

[2016-05-10 21:22] tsuomela commented on #4
Added Archive-IT sample text. I have a copy of a completed MOU with L3S which I can share via email or Google Drive.

[2016-05-10 22:44] #11 closed, assigned to ruebot

[2016-05-13 18:05] tsuomela commented on #1
I have contacted the members at each institution of the COPPUL Archive-IT subgroup (SFU, Manitoba, Saskatchewan, Winnipeg, BC, and UVic) to follow-up on previous introductions of the project in teleconferences.

[2016-05-24 20:19] tsuomela commented on #1
I talked to Corey D at UVic last Thursday (May 19, 2016) and have scheduled conversations with Winnipeg and UBC. I will share details of the conversation at the June 2 UAL project meeting.

[2016-05-24 20:23] ianmilligan1 commented on #1
Fantastic, @tsuomela – can't wait to hear more about this and get some of their collections over to us. Looking forward to seeing you in Calgary under a week, too.

[2016-06-02 19:53] ianmilligan1 opened #16 "Get Internet Archive Permissions for Nick to Download Alberta Collections"
We don't want to have to deal with lots of Archive-It partner passwords, and would like for @ruebot to be able to download WARC files directly from Archive.org.

Can @tsuomela reach out to Internet Archive, and get Nick's account (which he'll provide below) granted permission to download Alberta Archive-It accounts?

[2016-06-02 20:09] ianmilligan1 opened #17 "Redo WebArchives.ca to become WALK homepage"
Reframe the CPP collection as a prototype for forthcoming WALK project, change home page to include abstract, about page, etc.

Please put other suggestions for changes here!

[2016-06-02 20:17] ianmilligan1 opened #18 "Set up bot to tweet cool collections using #walkproject"
@ruebot and @pbinkley are going to create a Twitter bot to tweet interesting things – starting out with Canadian politics.

Good non-partisan terms?
- "non-partisan"
- "public transit"
- "environment"
- "depression"
- "economy"
- etc. etc.

[2016-06-02 20:47] ianmilligan1 opened #19 "Expose Schema Data"
@ruebot and I explored this with the CPP collection – might be interesting down the road to expose some of the metadata statistics (i.e. tracking Apache Tika language change over time, by domain, etc.).

![schema](https://raw.githubusercontent.com/web-archive-group/WAHR/master/images/schema.png)

[2016-06-02 20:47] ianmilligan1 opened #20 "DOIs for Collections"
Explore getting DOIs for collections – options include Dataverse or Zenodo.

[2016-06-02 20:50] ianmilligan1 opened #21 "AltMetrics"
It would be interesting to calculate AltMetrics for collections – help complement Google Analytics, etc. (and track RTs of our super cool Twitter bot)

[2016-06-02 21:00] ruebot opened #22 "Coordinate a Blacklight/Shine call"

[2016-06-03 00:28] ianmilligan1 opened #23 "Biographies"
I'd like to get folks from the University of Alberta and Compute Canada to provide bios for the new redesign of WebArchives.ca, now that we're going to use it as the WALK project home. Could each of you please provide a bio and a link, if appropriate, to a homepage or something along those lines? Thanks!

[2016-06-03 17:06] jeffersonbailey commented on #16
We need a copy of the MOU authorizing transfer of Alberta's (or anyone's) data to a third party.

[2016-06-04 02:30] GeoffreyRockwell commented on #23
How is this,

Dr. Geoffrey Martin Rockwell is a Professor of Philosophy and Humanities Computing at the University of Alberta <geoffreyrockwell.com>. He has published on textual visualization and analysis, and computing in the humanities including a book the MIT Press, Hermeneutica: Computer-Assisted Interpretation in the Humanities. He is a co-developer of Voyant Tools <voyant-tools.org>, a suite

[2016-06-06 01:44] ianmilligan1 commented on #17
First kick at the can is here: http://webarchives.ca. Still need to update bios and do lots more.

[2016-06-06 19:32] umarqasim commented on #23
Here is my brief bio:

Dr. Umar Qasim is the Digital Preservation Officer at the University of
Alberta Libraries and responsible for the libraries digital preservation
program. He maintains and shares expertise on digital preservation with the
University of Alberta Libraries, the University community, and the
professional community of practice in large. His research interests lie in
the areas of d

[2016-06-07 00:11] gsharder commented on #17
Nice!

On Sun, Jun 5, 2016 at 7:44 PM, Ian Milligan notifications@github.com
wrote:

##

_Geoff HarderAssociate University Librarian_

Digital Initiatives, University of Alberta Libraries
2-10H Cameron Library, University of Alberta
Edmonton, AB, Canada T6G 2J8
780.492.7914 (o)

_geoffrey.harder@ualberta.ca geoffrey.harder@ualberta.ca
library.ualberta.ca http://library.ualberta.ca_

[2016-06-07 18:43] tsuomela commented on #23
Dr. Todd Suomela is CLIR-DLF Postdoctoral Fellow for Data Curation in the Sciences and Social Sciences at the University of Alberta. He works on collection assessment, project management, web archive education, documentation, and research outreach. He studies the use of web archives in scholarly research, crowdsourcing in the humanities and sciences, and research data management across disciplines

[2016-06-07 19:09] gsharder commented on #23
Geoff Harder is Associate University Librarian at the University of Alberta Libraries (UAL). His responsibilities include strategic development of UAL's digital initiatives, which includes research data management, repositories, and digital scholarship support. Geoff serves on a number of national and international data and preservation organizations, including the National Executive Committee for

[2016-06-07 19:11] ghost commented on #23
Sam Popowich is Discovery Systems Librarian at the University of Alberta Libraries. He is responsible for the libraries' discovery strategy, including Blacklight implementation. GitHub, Twitter: @redlibrarian

[2016-06-08 21:19] tsuomela opened #24 "Date Extraction from Text or HTML"
- User story: I want to study the change in discourse over time for a given site or set of sites but I do not have access to retrospective crawls for the sites in question. I do have access to a new crawl performed recently of the sites I'm interested in studying. Many of these sites attach dates and times to the content they publish, for example in a blog or news site. So I want to extract the da

[2016-06-09 06:25] ianmilligan1 commented on #24
We've been talking about doing something, although the non-systematic nature of this makes it very difficult. My sense is that rather than mucking about with the WARCs, maybe generate plain-text index/plain-text files and work from there?

[2016-06-14 16:57] greebie commented on #15
I've created a branch that will examine a collections and use either a venn diagram or correspondence analysis to determine which collections have the most interesting common connections.  I'd like to try this a number of different ways - 1. through links 2. through common words 3. through common entity types (eg. names or locations).

[2016-06-15 13:31] ianmilligan1 opened #25 "Redo derivatives on broken WALK collections"
Once we pull down the new warcbase patches we're developing, re-run on the collections that failed - should work now. Seems to be a bug in some crawls where header says X bytes but the content payload is empty or minimal.

I'll lead this.

[2016-06-28 20:08] gsharder commented on #4
Minor [edits to the MOU template](https://github.com/web-archive-group/WALK/blob/master/MOU/WALK_MOU_vJun28.docx) to reflect the feedback I received from my UL.
- Point 7 adds a termination clause and includes language about the ongoing relationship with the project.
- Removed verbiage about binding successors which is problematic though I think the 60 days notice makes this a moot point.

Are the

[2016-06-28 20:19] gsharder commented on #4
I'm glad you pointed that sentence out, Nick. I meant to ask about it. I think @tsuomela did pull it from the UT MOU that was provided.

[2016-06-28 20:35] ianmilligan1 commented on #4
Toronto interpreted it as a subset of WARCs (i.e. if we rebundled them or something) but that derivative datasets are ok. Maybe we could add a sentence making the sharing of derivative datasets explicitly OK?

[2016-06-28 20:42] gsharder commented on #4
Fine from our end though anticipating questions from other institutions, I
think it would be good if you could provide some wording that helps define
what you mean by derivative datasets.

On Tue, Jun 28, 2016 at 2:35 PM, Ian Milligan notifications@github.com
wrote:

[2016-06-28 20:48] ianmilligan1 commented on #4
Why not be explicit – add an "(notably lists of crawled URLs, link networks, and full-text search index)" proviso?

[2016-06-29 19:35] #17 closed, assigned to ianmilligan1

[2016-06-29 19:38] #25 closed, assigned to ianmilligan1

[2016-06-29 19:40] ianmilligan1 commented on #4
Put a clause in the file re: derivatives.. thoughts?

[2016-07-04 14:07] ianmilligan1 commented on #12
Update!

Government_Information and University_of_Alberta_Websites have URLs generated. Am going to try to generate networks for Idle No More, Go'vt Inofmration, and UA Websites.

Circumpolar continues to fail, due to presence of 44GB WARC file.

[2016-07-04 14:12] ianmilligan1 commented on #12
Running

[code]

will error log once it crashes, even with 300gb swap file in place.

[2016-07-04 16:55] ianmilligan1 commented on #23
Added and relaunched site with bios!

[2016-07-04 16:55] #23 closed, assigned to pbinkley, tsuomela, umarqasim, gsharder, symulation, GeoffreyRockwell, sfbetz

[2016-07-04 22:04] sfbetz commented on #23
Sorry all - this flew by in my GitHub notifications while I was away, and
dropped to the bottom of the pile.

Sonya Betz is Digital Initiatives Projects Librarian at the University of
Alberta Libraries. She is responsible for the project management and
coordination of a wide range of digital initiatives, and is the service
manager for UAL's journal publishing program. She works with project teams

[2016-07-04 22:20] ianmilligan1 commented on #23
Great thanks @sfbetz - will add in the next batch tomorrow!

[2016-07-04 22:41] pbinkley commented on #23
Sorry about that - here's mine:

Peter Binkley is the Digital Initiatives Technology Librarian at the University of Alberta Libraries. He leads the Digital Initiatives development team in various collaborations with librarians and other stakeholders, to develop repository and preservation services and systems for the library's digital collections.

[2016-07-04 22:59] ianmilligan1 commented on #23
Perfect thanks! It'll be up shortly.

[2016-07-05 14:35] ianmilligan1 commented on #23
Added @sfbetz @pbinkley

[2016-07-07 16:45] ianmilligan1 commented on #4
Just re-pinging. Does this look good now @gsharder @ruebot? If so, we can begin to get moving on #16 (maybe looping in University of Toronto as well).

[2016-07-07 16:45] ianmilligan1 commented on #1
Just re-pinging on this.. @tsuomela were they keen to be on board? If so, once we're happy with MOUs maybe we can get in touch.

[2016-07-07 16:46] #22 closed, assigned to ruebot

[2016-07-07 17:58] gsharder commented on #4
Hi Ian, I think the MOU addresses the important issues, but it might
benefit from some editing. I would be happy to put some polish on it and
will aim to complete by Monday next week. Sound ok?

On Thu, Jul 7, 2016 at 10:45 AM, Ian Milligan notifications@github.com
wrote:

[2016-07-07 18:42] ianmilligan1 commented on #4
That sounds perfect @gsharder – really appreciate it.

[2016-07-07 19:05] tsuomela commented on #1
Here is the current status
UVic - I will send updated MOU to them for review by next week. Interest level: medium to high
UBC - same. Interest level: medium
SFU - currently scheduling a meeting with Mark who is now in charge of web archiving. Interest level: medium
USask - No current resources for project. Interest level: low.

[2016-07-07 19:07] tsuomela commented on #1
I'm still trying to schedule time with other COPPUL partners - Winnipeg and Manitoba. After that will start working through the non-COPPUL AI member list.

[2016-07-07 19:22] ianmilligan1 commented on #1
Great, thanks so much @tsuomela!

[2016-07-13 04:22] gsharder commented on #4
Ian, I have a revised version in Google Docs (it was easier to edit on the run). Pls have a look: https://docs.google.com/document/d/11Ha0Zks6UX3lDhr_2iK9cKUp4aVSPxkpYbNzDDk2pZk/edit

You should have editing permissions but if not just let me know.

[2016-07-13 07:32] ianmilligan1 commented on #4
Thanks, @gsharder! Have requested access via my @gmail. (turned out there was an invite in my inbox.. works now)

[2016-07-13 07:36] ianmilligan1 commented on #4
Looks fantastic!

[2016-07-13 20:46] gsharder commented on #4
Thanks. I will move this head and get UAlberta's sign off completed.

On Wed, Jul 13, 2016 at 2:42 PM, Nick Ruest notifications@github.com
wrote:

##

_Geoff HarderAssociate University Librarian_

Digital Initiatives, University of Alberta Libraries
2-10H Cameron Library, University of Alberta
Edmonton, AB, Canada T6G 2J8
780.492.7914 (o)

_geoffrey.harder@ualberta.ca geoffrey.harder@ualberta.ca
l

[2016-07-13 20:58] ianmilligan1 commented on #4
Great - and it'll be a great template for other institutions too! Thanks @gsharder and if anything comes up, happy to help however I can.

[2016-07-15 12:31] ianmilligan1 opened #26 "Compute Canada Allocation - Storage Increase"
It was around this time that our Compute Canada RPP allocation was supposed to increase – both core years (which I don't think is critical at this point) and storage (which we really need, esp. as the MOUs are being signed and we can sip data down).

I'll contact @symulation and Ryan to see what we can do.

[2016-07-15 12:46] ianmilligan1 commented on #26
Contacted. We're supposed to go up to 35TB at some point after April 2016. Will keep in touch.

[2016-07-15 12:47] ianmilligan1 commented on #4
OK. Now that we have the MOU done, I think we can close this.

I'll comment over in #1 but maybe we can try send this MOU to Toronto and UVic?

[2016-07-15 12:47] #4 closed, assigned to tsuomela

[2016-07-15 12:48] ianmilligan1 commented on #1
Great! Now that we have the MOU completed – I'll put into the repo – and I will send to U Toronto for sign off and forward to Internet Archive to get access.

@tsuomela now that the new MOU is up, want to send to UVic for review?

[2016-08-05 15:36] ianmilligan1 commented on #26
Talked to the Compute Canada folks, sounds like there has been some delays. We should be good to do this in September (realistically, let's say late September/early October), but if we do hit a cap before then we can ask for more.

[2016-08-05 15:37] ianmilligan1 commented on #16
Alberta MOU e-mailed off to Courtney. The Toronto MOU is headed to the Chief Librarian for signature.

[2016-08-05 15:39] ianmilligan1 commented on #7
OK! Now that we have warcbase set up, I could write a job to get all the image URLs from the oilers heritage site. We could `wget` them down and get them to you somehow.

Is this still useful to you @tsuomela? And is it only for one crawl or for multiple crawls?

[2016-08-05 15:46] ianmilligan1 commented on #9
I'm going to work on this in this repo: https://github.com/ianmilligan1/WALK-CrawlVis.

[2016-08-05 16:38] ianmilligan1 commented on #9
We can automatically generate these now as collections come in. A useful way to help researchers parse their search results, find calendar traps, etc.

https://ianmilligan1.github.io/WALK-CrawlVis/crawl-sites/alberta_education_curriculum.html
https://ianmilligan1.github.io/WALK-CrawlVis/crawl-sites/alberta_floods_2013.html
https://ianmilligan1.github.io/WALK-CrawlVis/crawl-sites/alberta_oil_sands.

[2016-08-05 18:40] ianmilligan1 commented on #9
And here's the walkthrough of how I did this. It's rough and hacky, but gives us a foundation. I think I will close this for now. As we get new collections, I'll run on them too.

## 1: Assemble the URL Lists

Use the warcbase workflow to extract URLs, akin to:

[code]

## 2: Put into format for Crawl Visualization

Right now, we've got a layout incompatibility. This (lazy person's) code works:

[

[2016-08-05 18:40] #9 closed, assigned to ianmilligan1

[2016-08-10 14:38] ianmilligan1 opened #27 "Generate Full URLs for All Collections"

[2016-08-10 14:41] ianmilligan1 opened #28 "Comparing Names, Organizations, Locations (NER)"
Generate names, places, locations – once done for test collections (ELXN42, CPP two scrapes), send to @greebie.

[2016-08-10 14:45] ianmilligan1 opened #29 "Correspondence Analysis by Dates"
Comparing collection by crawl dates.

[2016-08-10 15:37] ianmilligan1 commented on #28
@greebie I've added in the location data (which has been cleaned up via OpenRefine and put into a CSV). If you want to play with the fusion tables, you can find the maps [in this post](https://ianmilligan.ca/2016/08/04/plotting-and-comparing-locations-mentioned-in-a-web-archive-warcbase-openrefine-and-google-fusion-tables/).

Organizations and persons should be up pretty soon. I'll wait until they

[2016-08-10 20:25] gsharder commented on #16
+1

On Wed, Aug 10, 2016 at 1:48 PM, Nick Ruest notifications@github.com
wrote:

##

_Geoff HarderAssociate University Librarian_

Digital Initiatives, University of Alberta Libraries
2-10H Cameron Library, University of Alberta
Edmonton, AB, Canada T6G 2J8
780.492.7914 (o)

_geoffrey.harder@ualberta.ca geoffrey.harder@ualberta.ca
library.ualberta.ca http://library.ualberta.ca_

[2016-08-10 21:45] umarqasim commented on #16
Great to hear this!

Let me know if any information from our Archive-It account is needed.

Cheers,

_--_
_Umar Qasim, PhD_
Digital Preservation Officer
2-10N Cameron Library | University of Alberta
Edmonton, Alberta T6G 2J8, Canada
Tel: 780-492-9861 | Fax: 780-492-9243
umar.qasim@ualberta.ca | http://www.umarqasim.ca

On Wed, Aug 10, 2016 at 1:48 PM, Nick Ruest notifications@github.com
wrote:

[2016-08-10 21:58] ianmilligan1 commented on #16
Fantastic to hear!

[2016-08-11 16:58] umarqasim commented on #16
Yes, these three collections are in our Archive-It account.

_--_
_Umar Qasim, PhD_
Digital Preservation Officer
2-10N Cameron Library | University of Alberta
Edmonton, Alberta T6G 2J8, Canada
Tel: 780-492-9861 | Fax: 780-492-9243
umar.qasim@ualberta.ca | http://www.umarqasim.ca

On Wed, Aug 10, 2016 at 5:53 PM, Nick Ruest notifications@github.com
wrote:

[2016-08-11 17:22] greebie commented on #28
Thanks Ian.  Is it possible to have one more collection to play with?  Maybe a small one for time purposes - I just want the script to be able to move to Correspondence analysis (which means I need 4).  It can be as messy as you like.

[2016-08-11 17:51] greebie commented on #28
Hi Ian,

~~I might have killed your commit after merging.  I think I assumed the NER addition was already master - sorry about that.  Can you please resend?  Thanks.~~

(fixed - kept in Compare branch)

[2016-08-11 18:17] ianmilligan1 commented on #28
@greebie Sure - let me think on this and put it into the queue. Maybe an Alberta politics-esque collection?

[2016-08-11 18:21] ianmilligan1 commented on #28
@greebie Also, just pushed up the stuff I also had on the master branch so we've merged the two, should be good now.

[2016-08-11 21:18] greebie commented on #28
Yes - one or more additional Alberta-esque collections would be great.

[2016-08-11 21:19] #15 closed, assigned to greebie

[2016-08-11 21:21] greebie commented on #15
Closed because the core functionality described in the pseudo code has been merged and pulled.  New features can be released as new notes.

[2016-08-12 14:30] ianmilligan1 commented on #28
I'll run this after we do the full URL extraction (might take the weekend, I think, as it's a pretty intensive job that's occupying WALK). Do you have a collection in mind @greebie, based on the ones that you've worked with on the other `compare` work? Let me know and I'll queue up a script so we can get some of this info to you next week.

[2016-08-15 14:37] ianmilligan1 commented on #27
@greebie this has been generated and available in `/data/derivatives/fullurls/assembled` on WALK. They're reasonable size except for the prairie provinces which is 5.4GB.

[2016-08-15 14:37] #27 closed, assigned to ianmilligan1

[2016-08-15 14:47] ianmilligan1 commented on #28
OK, I'm creating one of the `alberta_education_curriculum-201204.txt` collection now.

[2016-08-15 14:48] ianmilligan1 opened #33 "Generating Gephi Files"
I thought it might be good to have `.gdf` files that can be read natively by Gephi or other network suites of our collections. Running a job so we can explore the best way to share these files (and get a sense of their sizes).

[2016-08-19 16:58] ianmilligan1 commented on #33
Uploaded with 0c8ae0c. At some point we should explore best way to host. Presumably putting them in Scholars Portal, with links from the WALK homepage? I think users might find this interesting, and it'd be a great derivative dataset to host.

You can find them at [https://github.com/web-archive-group/WALK/tree/master/Data/Gephi](https://github.com/web-archive-group/WALK/tree/master/Data/Gephi).

[2016-08-19 16:58] #33 closed, assigned to ianmilligan1

[2016-08-25 22:05] #16 closed, assigned to ruebot, tsuomela

[2016-08-31 18:40] ianmilligan1 commented on #1
@tsuomela Just re-pinging on this. We have a good template MOU, want a copy so we can circulate to UVic & UBC?

[2016-08-31 19:07] ianmilligan1 commented on #28
Done and done. Noted in Slack but you can find it here: https://github.com/ianmilligan1/McLuhan/tree/master/NER/openrefine-frequencies.

[2016-08-31 19:14] gsharder commented on #1
@tsuomela Let me know if I can help. I would be happy to pick up the
conversation with UVic and UBC if that is your preference.

On Wed, Aug 31, 2016 at 12:40 PM, Ian Milligan notifications@github.com
wrote:

##

_Geoff HarderAssociate University Librarian_

Digital Initiatives, University of Alberta Libraries
2-10H Cameron Library, University of Alberta
Edmonton, AB, Canada T6G 2J8
780.492.7914 (

[2016-09-06 21:23] ianmilligan1 commented on #1
If you've got capacity @gsharder, that might be best! Happy to shoot over a UVic/UBC MOU template if they're interested in moving forward.

[2016-09-06 21:23] ianmilligan1 commented on #1
If you've got capacity @gsharder, that might be best! Happy to shoot over a UVic/UBC MOU template if they're interested in moving forward.

[2016-09-07 22:41] ianmilligan1 commented on #13
Probably don't need this to be a separate issue anymore. We've got a decent workflow that generates text on demand.

this'll give us a sense of storage requirements.. I think with the move to Blacklight, the index should probably replace this.

[2016-09-07 22:41] #13 closed, assigned to nobody

[2016-09-07 22:45] gsharder commented on #1
+1.  Pls forward the draft  agreements whenever you have a moment and I'll be happy to get in touch with both orgs.

[2016-09-08 02:14] ianmilligan1 commented on #1
Perfect! [Here's a link to a templated MOU](https://github.com/web-archive-group/WALK/blob/master/MOU/WALK-MOU.docx), with all of the blanks. Let me know if there's anything I can do to help.

[2016-09-12 21:18] ianmilligan1 opened #34 "Toronto Transfer"
Now that we've got UTL signed off on the MOU, in addition to the CPP collection let's grab.
- [x] Canadian Labour Unions
- [x]  Canadian Government Information
- [x] Toronto Mayoral Election 2014
- [x] Toronto 2015 Pan Am & Parapan American Games
- [x] Snowden Archive
- [x] Federal Election Candidate Sites 2015
- [x] TSpace

[2016-09-12 21:18] ianmilligan1 commented on #34
@ruebot kicked off with the Labour Unions download.

[2016-09-12 21:19] ianmilligan1 opened #35 "Renaming Collections to Reflect Institution"
Now that we've got multiple institutions that we're ingesting into WALK, we should rename the directories in `data` to reflect the original institution.

[2016-09-12 21:21] ianmilligan1 commented on #35
I will do the first batch, save the Labour collection that is currently ingesting (will do so when it's settled).

`ALBERTA_coll` = University of Alberta
`TORONTO_coll` = University of Toronto
`WAHR_coll` = Our research group, internally generated data

i.e. `TORONTO_Canadian_Labour Unions`

[2016-09-12 22:02] ianmilligan1 commented on #35
OK! That was some fun times. I also cleaned up all the derivative folders (i.e. `/data/derivatives/links/` so that all outputs also follow this naming convention. All PART files were discarded, just the combined data files.

A random piece of code that I've used, just so I don't forget it elsewhere:

[code]

[2016-09-12 22:08] ianmilligan1 commented on #12
This was all fixed in a more recent warcbase build, and we've generated these derivatives.

[2016-09-12 22:08] #12 closed, assigned to nobody

[2016-09-12 22:10] #35 closed, assigned to ianmilligan1

[2016-09-13 15:12] ianmilligan1 opened #36 "Streamline warcbase workflow"
Every time we get a new collection, I write out a new scala script (i.e. [this one when we received the ymmfire collection](https://github.com/web-archive-group/WALK/blob/master/Scripts/Manual-Scripts/160907-ymmfire.scala)). This is a waste of everybody's time.

I will try to create a `warcbase-process.sh` script that can take a variable name, run those commands, combine the part files and move th

[2016-09-13 18:44] #36 closed, assigned to ianmilligan1

[2016-09-14 01:43] ianmilligan1 commented on #34
Thanks for the heads up @ruebot – let's suspend the Canadian Government DL for now, I reckon.

I'll touch base with Compute Canada tomorrow (I've got an e-mail thread from July about this – #26 - so it'll spur their memory hopefully). Will CC you and we can figure out the best way to do this.

[2016-09-14 01:48] ianmilligan1 commented on #26
... just re-pinged Compute Canada, to see if we can get the increase given we've run out of space.

[2016-09-14 15:00] ianmilligan1 commented on #7
I'll close for now, unless we hear that this is still an active research question!

[2016-09-14 15:00] #7 closed, assigned to nobody

[2016-09-14 15:01] ianmilligan1 commented on #28
This was generated and passed along to @greebie!

[2016-09-14 15:01] #28 closed, assigned to greebie, ianmilligan1

[2016-09-14 15:01] ianmilligan1 commented on #29
We got a working prototype of this up. At some point, can we share that notebook in this repo @greebie? Will keep issue open until that point.

[2016-09-14 16:22] ianmilligan1 commented on #26
And... we now have our full allocation! 🎉
<img width="191" alt="screen shot 2016-09-14 at 12 13 49 pm" src="https://cloud.githubusercontent.com/assets/3834704/18520431/cf327948-7a75-11e6-9d7e-05a08c19b331.png">

[2016-09-14 16:22] #26 closed, assigned to nobody

[2016-09-14 16:36] greebie commented on #29
I pushed an example.  I'll close for now with the promise of prettier examples to come!

[2016-09-14 16:50] ianmilligan1 commented on #29
Great. Did you push to the `compare` branch? I'm not seeing it there.

[2016-09-14 17:03] greebie commented on #29
Ah I see.   Just to master.  Compare's behind a bit now, although I am working on some 3 dimensional plots for the date stuff.

[2016-09-16 00:36] ianmilligan1 opened #37 "Broken WARC in Canadian Labour"
Just putting this here so I can track it. We have a broken WARC somewhere in the Canadian Labour collection. I will start trying to hunt it down.

[Error message is here](https://gist.github.com/ianmilligan1/e2e59695d1f0b5601ea28342902dc4a4), Invalid Distance Code.

In the future, @ruebot and I were thinking we should try to think of some way to validate WARCs beforehand (i.e. beyond just relying

[2016-09-16 00:44] ianmilligan1 commented on #37
First try [was with the Warcat library](https://pypi.python.org/pypi/Warcat/), but both 'healthy' and 'unhealthy' WARC files have validation problems. So need to keep looking.

[2016-09-20 13:13] ianmilligan1 commented on #34
Now that we've got the storage, do you want to restart Canadian Government DL @ruebot?

I will look into the broken WARC from #37...

[2016-09-20 13:18] ianmilligan1 commented on #34
Hazzah. Great!

[2016-09-21 20:10] ianmilligan1 commented on #34
Could we add T-Space to this list, @ruebot? I think having an outlier collection [like the T-Space one](https://archive-it.org/collections/6473) would help us develop comparative tools. It doesn't look that big, as I think it's just a handful of digital projects deposited in TSpace rather than theses, etc.

I've added it above.

[2016-09-23 12:07] #34 closed, assigned to ruebot

[2016-09-23 12:31] ianmilligan1 commented on #34
Fantastic!

[2016-09-24 02:29] jeffersonbailey commented on #37
Hmm. Let us know if we can help. Something in the transfer maybe or just something bad on disk?

[2016-09-24 18:19] ianmilligan1 commented on #37
Thanks @jeffersonbailey, really appreciated. We're trying to chase it down. It wasn't a broken `.warc.gz` file (in that it passed tests). We've isolated the file, so I'll know more soon... I'll keep you posted.

[2016-09-26 17:55] ianmilligan1 opened #38 "UVic Data Transfer"
With an MOU signed with Victoria, we should begin to download collections. Here are the UVic collections (excluding `ENGR (test)`).
- [x] Anarchist Archives
- [x] At Risk Websites
- [x] B.C. Teachers' Labour Dispute (2014)
- [x] Environmental Organizations and Resources of British Columbia
- [x] Maps at Risk
- [x] The Trans\* Web
- [x] University of Victoria 50th Anniversary (1963-2013)
- [x] Univ

[2016-09-26 17:55] ianmilligan1 commented on #38
But happy of course to entertain debate if we think a few might be too far afield.

[2016-09-26 17:57] ianmilligan1 commented on #20
Now that Dataverse automatically assigns DOIs, I think this gets even easier with our existing workflow!

[2016-09-27 15:48] ianmilligan1 commented on #38
We now have credentials!

[2016-09-28 00:58] ianmilligan1 commented on #38
👍

[2016-09-28 17:25] #38 closed, assigned to ruebot

[2016-09-28 19:13] ianmilligan1 opened #39 "UVIC Derivative Generation"
Now that we have the collections as per #38, time to generate the derivatives. It'll be a good test of my derivative script..
- [x] UVIC_anarchist_archives
- [x] UVIC_at_risk_websites
- [x] UVIC_bc_teachers_labour_dispute_2014
- [x] UVIC_environmental_organizations_and_resources_of_bc
- [x] UVIC_maps_at_risk
- [x] UVIC_trans_web
- [x] UVIC_University_of_Victoria_50th_Anniversary_1963-2013
- [x] UV

[2016-09-29 12:49] ianmilligan1 commented on #39
Some fun fact hiccups.

Collections with date ranges give hiccups to the Scala interpreter. i.e.

[code]

Leads to:

[code]

Recommend cleaning that up somehow.

[2016-09-29 12:51] ianmilligan1 commented on #39
NullPointerException on Research Groups/Corporate Entities - https://gist.github.com/ianmilligan1/2fd07e81d7a1343fad469fa2fd0f43d5.

Same on UVic Websites.

[2016-09-29 12:54] ianmilligan1 commented on #39
Status for me to re-do:
- [x] UVIC 50th Anniversary (will manually generate script to avoid invalid literal numbers)
- [ ] Links/Gephi on UVIC_University_of_Victoria_Research_Centres_Groups_and_Corporate_Entities
- [ ] Links/Gephi on UVIC_University_of_Victoria_Websites

Text/URLs generated on last two.

[2016-09-29 13:31] ianmilligan1 commented on #39
Continues to fail, so I have opened up an [issue over on the warcbase repo](https://github.com/lintool/warcbase/issues/251).

[2016-09-29 15:45] greebie opened #40 "Scale the Compare Class"
The current class does a good job of creating a plot, but I'd like to do a few different things with it that relate more directly to the test cases.  Here is a summary list:
- [x] Determine the kinds of outputs for comparison (eg. compare by links, compare by NER output)
- [ ] Two layers of analysis, three layers of analysis, or more
- [ ] Graph into 2 or 3 dimensions
- [x] Cumulative graph
- [ ]

[2016-09-30 02:20] ianmilligan1 commented on #40
This sounds great. I've turned the above into a list to keep track of things.

Let me know if you need some data, want somebody to test it, etc. etc. Happy to help however I can!

[2016-09-30 11:12] ianmilligan1 commented on #37
[This recent warcbase commit](https://github.com/lintool/warcbase/commit/8a34bd04702044cba5aa11504384cea1aa104981) handled the error, so collection working now!

[2016-09-30 11:12] #37 closed, assigned to ianmilligan1

[2016-09-30 19:57] ianmilligan1 commented on #39
And now fixed on the issue. I will generate derivatives and then finish up this issue!

[2016-10-01 17:11] #39 closed, assigned to ianmilligan1

[2016-10-01 17:13] ianmilligan1 opened #41 "Full-Text Generation - Warcbase or Leave for Solr?"
Right now as part of our warcbase processing script, we generate extracted full text. I think it's useful for warcbase testing, but given that we're eventually planning to primarily expose text through Solr (and will index text accordingly there), maybe it's a superfluous step?

Just opening this up to thoughts.

[2016-10-01 17:41] ianmilligan1 opened #42 "Create Gephi Visualizations for Each GDF File"
I am mostly creating this issue as a reminder for myself in the summer (May - August 2017). I think it might be useful to have one of my summer RAs:
- open up each GDF in Gephi;
- create a visualization;
- write up a short narrative;
- save screenshots
- and save in a pre-manipulated `.gephi` file format.

I think that would help us really start build a catalogue, and also have some useful skills

[2016-10-07 15:20] ianmilligan1 opened #43 "Move CPP into Standard Collection & Regenerate Derivatives"
CPP has been a bit of a special case, because we had been doing so much work on it. Right now, it's in WAHR_CPP in `/data`. This is a reminder to aggregate the two ARC and WARC accessions into one, and run the standardized script to it.

It should be `TORONTO_Canadian_Political_Parties`.

[2016-10-07 18:45] ianmilligan1 commented on #43
All ARCs and WARCs are now living in `TORONTO_canadian_political_parties`. I will re-do derivatives once the queue frees up. Sorry for the Issue spam, this is how I remember to do things.

[2016-10-13 13:59] greebie commented on #35
Another script for later purposes.  It removes [text] from the files in the folder files (similar prefixes cause problems when I truncate the filenames).

$extra = [text]

for filename in *.fasta; do
    [ -f "$filename" ] || continue
    mv $filename ${filename//$extra/}

done

[2016-10-14 18:33] greebie opened #44 "Create dummy collections for testing"
Using the compare tool, will create a dummy based on the websites that are present in a large number of sites (the size will depend on the number of collections - so far with 38 collections, it looks like urls with 16+ cross-links will produce about 100 or so website urls.

These urls will content-analysized for the following categories
- Government (eg. gc.ca)
- Social media  (twitter.com)
- Tech

[2016-10-28 17:30] ianmilligan1 opened #45 "Second-level domain handling for comparing collections"
Right now, when working with something like

[code]

We normalize the domain down to the last two, so `ab.ca`. However, until 2000 .ca supported second and third-level domains for provinces and territories. We need to make sure the compare class handles these limited exceptions?

[2016-10-28 17:30] ianmilligan1 commented on #45
Here's .ca.

.ab.ca — Alberta
.bc.ca — British Columbia
.mb.ca — Manitoba
.nb.ca — New Brunswick
.nf.ca — Newfoundland (replaced by .nl.ca)
.nl.ca — Newfoundland and Labrador
.ns.ca — Nova Scotia
.nt.ca — Northwest Territories
.nu.ca — Nunavut
.on.ca — Ontario
.pe.ca — Prince Edward Island
.qc.ca — Quebec
.sk.ca — Saskatchewan
.yk.ca — Yukon

Gc.ca is a standard domain but we might want to unpack

[2016-10-28 17:32] ianmilligan1 commented on #45
And here's .uk. Couldn't register directly under .uk until 2014!

.ac.uk - academic (tertiary education, further education colleges and research establishments) and learned societies
.co.uk - commercial and general
.gov.uk - government (central, devolved and local)
.judiciary.uk - courts (to be introduced in the near future)[16]
.ltd.uk - limited companies
.me.uk - general use (usually personal)
.

[2016-10-28 17:33] ianmilligan1 commented on #45
We also want to look into .eu a bit more, but we think that the .ca/.uk is a good start.

[2016-10-28 17:46] ianmilligan1 opened #46 "Word frequency on collections"
Word frequency might be useful when comparing collections. If @greebie wants word comparison data to compare collections, check out `/data/derivatives/text` and let me know. I can generate and send to you.

[2016-10-28 17:49] ianmilligan1 commented on #46
- [x] ALBERTA_education
- [x] ALBERTA_floods
- [x] UVIC_Calendar
- [x] WAHR_Ymmfire
- [x] TORONTO_Snowden

Ian will try to generate (we've had failures).

[2016-10-28 18:42] ianmilligan1 commented on #46
Running

[code]

and will then use bash to calculate word frequency, etc.

[2016-10-29 14:40] ianmilligan1 commented on #46
@greebie Having issues w/ the Idle No More collection (others have generated well). Do you have a backup?

[2016-10-29 14:48] greebie commented on #46
Seems like T-Space might be the best from a structural point of view.  Snowden would be second.  Let's do Snowden, since it's perhaps more meaningful.

[2016-10-29 14:58] ianmilligan1 commented on #46
Great. We already have that processed. I'll hopefully find a cycle today or tomorrow to calculate the word frequency/etc. from the raw extracted text!

[2016-10-29 15:31] ianmilligan1 commented on #46
OK now processing word frequencies with

[code]

Progress:
- [x] ALBERTA_education
- [x] ALBERTA_floods
- [x] UVIC_Calendar
- [x] WAHR_Ymmfire
- [x] TORONTO_Snowden

[2016-10-29 16:12] ianmilligan1 commented on #44
I think we've developed this – if so, @greebie do you mind closing the issue (or providing an update if you want to keep it open!).

[2016-10-29 17:38] #44 closed, assigned to greebie

[2016-10-29 23:17] ianmilligan1 commented on #46
Ok @greebie – frequency files done and available in `/data/WALK-Compare/WALK-Compare/frequencies` on WALK.

[code]

Note the sizes (esp. on floods & panama papers). I think maybe take the first X lines of each for your analysis? There's a lot of cruft in the floods file, not 100% sure why. Maybe use `head` to get 10,000 lines or something like that? Let me know if you want me to do so, just let me

[2016-10-29 23:24] ianmilligan1 commented on #43
Finally doing this via `warcbase-process.sh`.

[2016-10-30 02:48] ianmilligan1 commented on #43
And done!

[2016-10-30 02:48] #43 closed, assigned to ianmilligan1

[2016-10-30 13:37] ianmilligan1 commented on #46
Actually I'll also put them into Dropbox and slack you the links.

[2016-11-08 15:55] greebie commented on #46
Thanks Ian.  It is fairly easy to select lines in Python, so all should be fine. I am working on this now.

[2016-11-08 15:57] greebie commented on #29
I think the prototype is complete for this.  Since incorporating new methods to the Compare class is listed elsewhere, I'm going to close this one.

[2016-11-08 15:57] #29 closed, assigned to greebie

[2016-11-08 16:22] greebie commented on #5
Hi Ian, as you know, I've been using Anaconda for Python 3, so that might be a half-decent inclusion.

[2016-11-10 20:13] greebie commented on #46
I've applied them to the analysis in the latest push.  More collections could provide a more interesting analysis I think.  It's also interesting because I was able to show what words were the matching ones in the correspondence analysis.

[2016-11-10 20:42] ianmilligan1 commented on #46
Fantastic! I'm happy to generate more word frequency data if that helps. Just let me know collections and I can do so. Looking forward to chatting tomorrow!

[2016-11-10 22:48] greebie commented on #46
Okay.  How about Francophonie, ymmfire, alberta oil sands and UVIC environmental orgs.

[2016-11-10 22:49] greebie commented on #46
Also if you have any ones that are already available, let's add those for good luck.

[2016-11-11 13:48] ianmilligan1 commented on #46
Great! I have those four collections in plain text, so will begin running frequency on them. Some of them are quite large so might take a while.. we can chat today, see if this is something we want to bake in on the processing level.
- [x] Francophonie
- [x] ymmfire
- [x] alberta oil sands
- [x] UVIC environmental orgs

[2016-11-11 14:52] ianmilligan1 commented on #46
And done! Here is `/data/WALK-Compare/WALK-Compare/frequencies` now.

[code]

[2016-11-11 15:13] ianmilligan1 commented on #41
We're finding the text is useful for now for other research products, so let's leave it in. But if we begin to run into storage issues, will have to reassess.

[2016-11-11 15:13] #41 closed, assigned to nobody

[2016-11-11 18:57] ianmilligan1 opened #47 "Final Tweaks to Correspondence Analysis"
A few more things to get the correspondence analysis fully tested:
- [x] Add in the Toronto Labour Unions collection and the Toronto Political Parties collection, both of which are long-standing collections to see if they skew results;
- [x] Include frequencies for four new collections (as discussed in #46)
- [x] Try frequency with 1000 words instead of 150 (or tweak with it to get it going)
- [x]

[2016-12-01 14:56] ruebot opened #48 "Download SFU data"
- [x] British Columbia Local Governments
- [x] Government of Canada
- [x] NGOs
- [x] Public Knowledge Project
- [x] SFU Affiliated Conferences/Institutes
- [x] SFU Library website

[2016-12-01 16:35] ianmilligan1 commented on #48
🎉
Fantastic. I will begin processing shortly.

[2016-12-01 16:35] ianmilligan1 opened #49 "Process SFU Data"
Once #48 is completed, begin processing data and generating standard derivatives.

- [x] British Columbia Local Governments
- [x] Government of Canada
- [x] NGOs
- [x] Public Knowledge Project
- [x] SFU Affiliated Conferences/Institutes
- [x] SFU Library website

[2016-12-02 14:15] #48 closed, assigned to ruebot

[2016-12-02 14:48] ianmilligan1 commented on #49
Commencing using [the warcbase processing script](https://ianmilligan.ca/2016/11/11/processing-archival-collections-en-masse-with-warcbase/).

[2016-12-02 15:23] ruebot opened #50 "Download UofWinnipeg data"
- [x] Our Digitized Web Collections
- [x] University of Winnipeg Websites
- [x] Oral History Centre
- [x] Racism in Winnipeg
- [x] Truth and Reconciliation

[2016-12-02 15:23] ianmilligan1 opened #51 "Process Winnipeg Data"
Once download is complete (#50), run on the following collections:

- [x] Our Digitized Web Collections
- [x] University of Winnipeg Websites
- [x] Oral History Centre
- [x] Racism in Winnipeg
- [x] Truth and Reconciliation

[2016-12-03 02:10] #50 closed, assigned to ruebot

[2016-12-03 21:27] #49 closed, assigned to ianmilligan1

[2016-12-04 15:10] ianmilligan1 commented on #51
... and all done!

Once we do Dalhousie, I'll do a batch generation of visualizations and upload to Dataverse.

[2016-12-04 15:10] #51 closed, assigned to ianmilligan1

[2016-12-04 15:11] ianmilligan1 opened #52 "Upload New Batch of Derivatives"
Once we process Dalhousie data, a self reminder to:
- generate crawl visualizations of the SFU, Winnipeg, and Dalhousie data for [WALK-CrawlVis](https://github.com/web-archive-group/WALK-CrawlVis) – including some we may have missed;
- upload new batch of Gephi files to Dataverse.

[2016-12-04 16:09] ianmilligan1 opened #53 "Download Dalhousie Collections"
Now that we have an MOU with them.

- [x] #5925 Trial Collection
- [x] #6275 Dalhousie University 200th Anniversary
- [x] #6280 Bob Fournier
- [x] #6566 Halifax Regional Municipality Documents
- [x] #6653 Ransom Myers
- [x] #6671 TEST - Dalhousie Fellows of the Royal Society of Canada
- [x] #7485 Nova Scotia Municipal Governments
- [x] #7515 #homesnothondas Tweets (Homes not Hondas)
- [x] #8155 Mi

[2016-12-14 15:37] ianmilligan1 opened #54 "Run Correspondence Analysis on Winnipeg and SFU"
Ian will run @greebie's correspondence analysis notebooks on the new Winnipeg and SFU collections, as a way to make sure they work (and if something is unclear, can improve documentation).

[2016-12-14 15:49] ianmilligan1 commented on #47
Ping @greebie

[2016-12-14 17:26] #54 closed, assigned to ianmilligan1

[2016-12-14 17:32] greebie commented on #54
Great to hear it worked without a hitch!

[2016-12-14 18:44] ianmilligan1 commented on #52
Done and done.

New crawl visualizations available here: https://github.com/web-archive-group/WALK-CrawlVis
Dataverse files available here: https://dataverse.scholarsportal.info/dataset.xhtml?persistentId=hdl%3A10864%2F12040

[2016-12-14 18:44] #52 closed, assigned to ianmilligan1

[2016-12-15 14:05] greebie commented on #40
Have been thinking about this.  Since we now have about 6 notebooks that rely on the current version of Compare, it might be better to fork the Compare class to a separate Repo and start a version 0.1 with these features.  I'm just thinking that if I start messing with the main class now, it will start to break our work describing the collections.  What do you think?

[2016-12-15 14:29] ianmilligan1 commented on #40
I think that makes sense to me – a lot of sense, actually, since it won't break the work we've done so far. 👍

[2016-12-20 21:01] ianmilligan1 opened #55 "Landing Page for Derivatives"
Over next year, related to #42, we should think about how to do a landing page for collections. My own vision is something like:
- tiles of different collections;
- each tile represented by name of collection, maybe screenshot of the network diagram;
- brief pop up when hovering over?
- click on and get the full write-up from the research assistant, derivatives available, and maybe a link to the B

[2017-01-09 21:13] ianmilligan1 commented on #53
@ruebot Just pinging as requested. 😄

[2017-01-12 14:12] greebie commented on #40
Closing this issue as a problem for Compare 0.1.0 found here:  https://github.com/greebie/Compare

[2017-01-12 14:13] #40 closed, assigned to greebie

[2017-01-13 14:00] ianmilligan1 opened #56 "Write Up for Each Collection"
I've been playing around with our new site, and the new idea is to have a landing page per institution, broken down by collection. For each collection, I'd like to have a paragraph of text describing the collection.

Research assistants will do this by (a) creating Gephi files (#42); (b) consulting our Crawl Visualizations available at <https://github.com/web-archive-group/WALK-CrawlVis>:
- what s

[2017-01-13 14:01] ianmilligan1 commented on #56
Mock-up here.
<img width="819" alt="screen shot 2017-01-12 at 5 07 18 pm" src="https://cloud.githubusercontent.com/assets/3834704/21932511/e34ba9ce-d96e-11e6-9220-b98c69dc4397.png">

[2017-01-13 14:02] ianmilligan1 commented on #55
Merged w/ #56 – I think doing this by institution makes more sense.

[2017-01-13 14:02] #55 closed, assigned to nobody

[2017-01-13 14:16] greebie commented on #56
I think this is a great idea.  Is it possible that there is metadata for the collections already in the WARC files?  It seems like there should be, and it could be an easy way to show the grad students what a WARC is.

[2017-01-13 15:44] ianmilligan1 commented on #56
Unfortunately I think we'll have to do that manually, as there's no real metadata within the WARCs pertaining to overall collection data and scope. But yeah, I wish there was.

What the workflow will probably be:
- students consult Archive-It page;
- students render network diagram, taking screenshot and making a few quick notes of the major hubs;
- students consult crawl visualization, domain-by-

[2017-01-13 15:44] ianmilligan1 opened #57 "Logo"
We need a logo for the project! Any thoughts?

My initial thought was a pair of feet walking, which is why I am putting this out here.

[2017-01-13 19:44] ianmilligan1 opened #58 "Process Dalhousie Collections"
Once #53 completes:

- [x] #5925 Trial Collection
- [x] #6275 Dalhousie University 200th Anniversary
- [x] #6280 Bob Fournier
- [x] #6566 Halifax Regional Municipality Documents
- [x] #6653 Ransom Myers
- [x] #6671 TEST - Dalhousie Fellows of the Royal Society of Canada
- [x] #7485 Nova Scotia Municipal Governments
- [x] #7515 #homesnothondas Tweets (Homes not Hondas)
- [x] #8155 Mi'kmaq History a

[2017-01-13 19:58] #53 closed, assigned to ruebot

[2017-01-13 20:03] ianmilligan1 commented on #53
🎉

[2017-01-13 20:05] ianmilligan1 commented on #58
And we're off...!

[2017-01-14 05:03] ianmilligan1 commented on #58
Done. Will move derivatives to Dataverse, crawl-viz, etc. when I have a chance!

[2017-01-16 19:24] greebie commented on #47
I have the fix for overlaps in the word-based analysis, but am going to forgo it for the urls.  I'd rather include it as a function in the new Compare class.

[2017-05-09 18:37] ianmilligan1 opened #59 "Generate Sample Index"
On snotra in `/mnt/warcs` we have six sample WARCs, each from one of the WALK member institutions.

[code]

Would we be able to create a sample solr index that we could use when playing with Blacklight locally? This could have the -institution -collection -collection_number facets same as the production one, but can have arbitrary data in those fields.

Then we'd point our local version at it, so

[2017-05-10 14:40] #59 closed, assigned to ruebot

[2017-05-10 14:46] ianmilligan1 commented on #59
🎉 Works like a charm!

[2017-06-07 17:51] ianmilligan1 opened #60 "Missing Link Diagrams"
These have all failed at various points, but w/ improvements to warcbase code may work.

- [ ] ALBERTA_circumpolar
- [x] ALBERTA_edmonton_public_libraries
- [x] ALBERTA_education_curriculum
- [ ] ALBERTA_idle_no_more
- [x] ALBERTA_prairie_provinces
- [ ] ALBERTA_university_of_alberta_websites
- [ ] DALHOUSIE_homesnothondas_Tweets_Homes_not_Hondas
- [ ] DALHOUSIE_Halifax_Regional_Municipality_Docum

[2017-06-07 17:52] ianmilligan1 opened #61 "Missing Crawl Visualizations"
These have failed before. Probably because domain counts haven't been calculated properly.

- [ ] ALBERTA_edmonton_public_libraries
- [ ] DALHOUSIE_Dalhousie_University_200th_Anniversary_1818-2018
- [ ] TORONTO_mayoral_election_2014
- [ ] TORONTO_federal_election_candidate_sites_2015

[2017-06-07 17:52] ianmilligan1 commented on #42
Done!

[2017-06-07 17:52] #42 closed, assigned to ianmilligan1

[2017-06-07 17:52] #24 closed, assigned to nobody

[2017-06-07 17:52] #46 closed, assigned to ianmilligan1

[2017-06-07 17:53] ianmilligan1 commented on #56
We've achieved this milestone!

[2017-06-07 17:53] #56 closed, assigned to ianmilligan1

[2017-06-07 17:53] ianmilligan1 commented on #57
I think we are going to pick a better name for WALK when it becomes publicly-facing, so closing.

[2017-06-07 17:53] #57 closed, assigned to nobody

[2017-06-07 17:53] #58 closed, assigned to ianmilligan1

[2017-06-07 18:08] ianmilligan1 commented on #60
Running script to generate `ALBERTA_education_curriculum`, `ALBERTA_idle_no_more`, and `ALBERTA_university_of_alberta_websites`. The other two I found. Circumpolar has massive 60GB+ WARCs which have really eluded our ability to process.

Some errors though, so we may be out of luck.

[2017-07-12 18:01] greebie commented on #47
Hey I completed this without realizing.  Going to close.

[2017-07-12 18:01] #47 closed, assigned to greebie

[2017-11-16 02:05] #20 closed, assigned to nobody

[2017-11-16 02:05] #19 closed, assigned to ianmilligan1

[2017-11-16 02:05] #18 closed, assigned to ruebot, pbinkley

[2017-11-16 02:05] #6 closed, assigned to nobody

[2017-11-16 02:05] #5 closed, assigned to ianmilligan1

[2017-11-16 02:06] #1 closed, assigned to tsuomela

[2018-01-07 15:38] #45 closed, assigned to greebie

[2018-08-03 13:13] #60 closed, assigned to ianmilligan1

[2018-08-03 13:13] #61 closed, assigned to ianmilligan1

[2018-12-17 04:15] asclepiadae opened #62 "xiduam.ca in ALBERTA_fort_mcmurray_wildfire_2016-urls.txt"
It's interesting to note in this URL's appearance. It seems to be related to Alberta's new public-facing EHR as part of the MyAlbertaID authentication system between the Government of Alberta and Alberta Health Services.